.signin-bg {
    width: 100vw;
    height: 100vh;
    background-image: url("./components/images/loadingscreen.png");
    background-size: cover;
    background-position: center;
}

.signin-weapper {
    width: 32vw;
    height: 32vw;
    border-radius: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.signin {
    display: grid;
    grid-template-columns: auto;
    gap: 1.75vw;
    width: fit-content;
}

h1 {
    font-weight: normal;
    font-size: 2vw;
}

.form-input {
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    margin: auto;
}

.signin-input {
    border-radius: 15px;
    padding: 0.55vw;
    width: 12vw;
    background-color: #ffe7c1;
    border: none;
}

#paimon {
    position: absolute;
    width: 15vw;
    transform: translate(13vw, 8vw);
    opacity: 0;
}

@keyframes slideup {
    from {
        transform: translate(13vw, 9.5vw);
    }
    to {
        transform: translate(13vw, 8vw);
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translate(13vw, 9.5vw);
    }
}

#signin-button {
    width: 4vw;
    height: 4vw;
    border-radius: 15px;
    border: 2px solid #d0cfcf;
    background-color: #fff;
    margin: auto;
    cursor: pointer;
}

#createac {
    color: #d0cfcf;
    text-align: center;
    cursor: pointer;
    font-size: 0.75vw;
}

#createac:hover {
    color: #dfac8b;
}

#frame-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 37vw;
}

.checkbox {
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 0.75vw;
    font-size: 0.75vw;
    margin-left: auto;
    margin-right: auto;
    gap: 0.5vw;
}